{% load bootstrap4%}
{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% block styles %}
        {% bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        
        <link href="https://fonts.googleapis.com/css?family=Gabriela" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <div class="m-auto col-md-5  mt-5" style="position:relative;top: 20px;">
        <img src="https://i.pinimg.com/564x/d2/f4/8a/d2f48a74cf308e6a260413054bf1a4f6.jpg" alt="Shavogram" class="image1" style="float: left;" height="500" width="450">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Shavogram</h3>
            </div>
            <div class="card-body">
                <form action="/accounts/login/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        {% block button%}
                        <button type="submit" class="btn btn-info">Sign in</button>
                        {% endblock %}
                    </div>
                </form>
                <p>Don't have a Shavogram account? Register <a href="/accounts/register">here</a></p>
            </div>
       
        </div>
        <hr>
        <div class="container-fluid">
        <h4>Get the app.</h4>
        <img src="../../../media/pictures/applestore.png" alt="" srcset="" height="100" width="200">
        <img src="../../../media/pictures/googlestore.png" alt="" srcset="" width="250" height="60" style="float:right ;">
    </div>
    </div>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html> 